/* mobileNav.module.css */

.container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.linksList {
  width: 100%;
  height: fit-content;
  position: absolute; /* Altere para position: absolute */
  top: 120px; /* Defina um valor para a posição superior */
  right: 0;
  /* right: calc(10% + 16px); Defina um valor para a posição à esquerda */
  z-index: 1000; /* Adicione um valor alto para z-index para garantir que a lista esteja acima dos outros elementos */
  border: 1px solid rgb(255, 0, 0);
}

.linkItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--blue);
  color: var(--off-white);
}

.btnContainer {
  z-index: 1100;
}

.opened {
  display: block;
}

.closed {
  display: none;
}
