.container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; /* ou a altura desejada para seus cards */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.imageContainer {
  width: 100%;
  flex: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 1.5em;
  flex: 1;
  text-align: center;
}

.title {
  font-size: 1.5em;
}

.description {
  font-size: 1.3em;
  font-family: var(--serif-font);
}

