@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap");

:root {
  --regular-font: "Montserrat", sans-serif;
  --serif-font: "EB Garamond", serif;
  --blue: #3d7dca;
  --yellow: #fffbe9;
  --title: #011e41;
  --off-white: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-family: var(--regular-font);
  background-color: #fff;
}

.globalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
}

@media screen and (max-width: 700px) {
  .globalContainer {
    padding: 10px;
  }
}
