.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

.topContainer {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 50%;
  max-width: 700px;
  margin: 0 auto;
}

.title {
  font-family: var(--regular-font);
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--title);
}

.subtitle {
  font-family: var(--serif-font);
  font-weight: 400;
}

.yellowSpan {
  color: #ff9a27;
}

.link {
  width: fit-content;
  text-align: center;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.8em;
  color: var(--off-white);
  background-color: var(--blue);
}

.contactLink {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
}

.projectsContainer {
  width: 80%;
  max-width: 1000px;
  height: auto;
  margin: 100px auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.midContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
  width: 50%;
  margin: 0 auto;
}

.principlesContainer {
  width: 70%;
  max-width: 1000px;
  height: auto;
  margin: 100px auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

@media screen and (width < 1000px) {
  .topContainer {
    width: 80%;
  }
}
