.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.block {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}

.block:nth-child(3),
.block:nth-child(4) {
  align-items: left;
  width: 20%;
}

.block h1 {
  font-size: 1.3rem;
}

.block p {
  font-family: var(--serif-font);
  font-size: 1.3em;
}

.block a {
  width: fit-content;
  color: var(--blue);
  transition: width 0.5s ease;
}

.block a:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #edffae 50%);
}

.linksList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

@media screen and (width <= 1000px) and (width >= 700px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }

  .block {
    width: 100%;
  }

  .block:nth-child(3),
  .block:nth-child(4) {
    width: 100%;
  }
}

@media screen and (width <= 700px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
  }

  .block {
    width: 100%;
  }

  .block:nth-child(3),
  .block:nth-child(4) {
    width: 100%;
  }

  .block a{
    width: 100%;
  }
}
